@{
    ViewData["Title"] = "GiaiPhuongTrinh";
}

<form asp-action="GiaiPhuongTrinh" method="post">
    <div>
        <label for="">Nhập vào a: </label>
        <input type="text" name="hsA" />
    </div>
    <div>
        <label for="">Nhập vào b: </label>
        <input type="text" name="hsB" />
    </div>
    <div>
        <label for="">Nhập vào c: </label>
        <input type="text" name="hsC" />
    </div>
    <button>Tính</button>

    <h2>
        Ket qua @ViewBag.message
    </h2>
</form>