@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="Index" asp-controller="Home">
    <div>
        <label for="">Nhập vào a: </label>
        <input type="text" name="a" />
    </div>
    <div>
        <label for="">Nhập vào b: </label>
        <input type="text" name="b" />
    </div>
    <button>Tính</button>
    <div>
        Kết quả:  @ViewBag.results    
    </div>
</form>
