@{
    ViewData["Title"] = "Create Person =)))";
}


<div>
    <form asp-action="Create">
        <label for="msv">Ma person: </label>
        <input id="msv" type="number" value="1" name="PersonId">
        <label for="name">Ten person: </label>
        <input type="text" id="name" name="PersonName">
        <label for="tuoi">Tuoi: </label>
        <input type="text" id="tuoi" name="Age">

        <button type="submit">Gui</button>
    </form>
</div>

<h2 style="margin-top: 30px">@ViewBag.Message</h2>