@{
    ViewData["Title"] = "Student Page";
}

<div>
    <table class="table border">
        <tr>
            <th>Ma sinh vien</th>
            <th>Ten</th>
            <th>Tuoi</th>
        </tr>

        @foreach (var item in ViewData["students"] as List<Student>)
        {
            <tr>
                <td>@item.StudentId</td>
                <td>@item.StudentName</td>
                <td>@item.Age</td>
            </tr>
        }
    </table>
</div>